<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>store1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Encode</filter-name>
    <filter-class>servlet.pageEncode</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encode</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>GoLogin</filter-name>
    <filter-class>servlet.HaveToLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GoLogin</filter-name>
    <url-pattern>/cart.jsp</url-pattern>
    <url-pattern>/manager.jsp</url-pattern>
    <url-pattern>/me.jsp</url-pattern>
    <url-pattern>/modify.jsp</url-pattern>
    <url-pattern>/mpassword.jsp</url-pattern>
    <url-pattern>/service.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>GoManager</filter-name>
    <filter-class>servlet.GoManager</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GoManager</filter-name>
    <url-pattern>/manager.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Home</filter-name>
    <filter-class>servlet.HomePageFind</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Home</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.AdminCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyUserMassage</servlet-name>
    <servlet-class>servlet.ModifyMessageByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserMassage</servlet-name>
    <url-pattern>/mMyMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyUserPassword</servlet-name>
    <servlet-class>servlet.ModifyPasswordByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserPassword</servlet-name>
    <url-pattern>/mMyPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetUserPassword</servlet-name>
    <servlet-class>servlet.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetUserPassword</servlet-name>
    <url-pattern>/fMyPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>servlet.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/PutInMyCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addOrder</servlet-name>
    <servlet-class>servlet.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOrder</servlet-name>
    <url-pattern>/Buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePay</servlet-name>
    <servlet-class>servlet.PayButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePay</servlet-name>
    <url-pattern>/Pays</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyGood</servlet-name>
    <servlet-class>servlet.ModifyGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyGood</servlet-name>
    <url-pattern>/MGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGood</servlet-name>
    <servlet-class>servlet.DelGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGood</servlet-name>
    <url-pattern>/DGood</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AddGood</servlet-name>
    <servlet-class>servlet.AGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGood</servlet-name>
    <url-pattern>/AGood</url-pattern>
  </servlet-mapping>
</web-app>