#footer {
    position: relative;
    display: block;
    margin: 2rem 15% 2rem 15%;
    width: 70%;
    height: 8rem;
    overflow: hidden;
    padding: 1rem;
}

#footer img {
    height: 80%;
}

#footer>div {
    float: right;
    padding-top: 1.5rem;
    width: 25%;
    height: 100%;
    user-select: text;
}